@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-body;
    font-family: 'RecursiveVariable';
    font-size: 18px;
    font-variation-settings: 'MONO' 1, 'CASL' 0, 'slnt' 0, 'CRSV' 0.5;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variation-settings: 'MONO' 1, 'CASL' 1, 'slnt' 0, 'CRSV' 0.5;
    font-weight: 700;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-3xl;
    @apply mb-6;
  }
  a {
    @apply text-activeLink;
  }
  p {
    @apply mb-6;
  }
}

@layer utilities {
  .hover-trigger .hover-target {
    display: none;
  }

  .hover-trigger:hover .hover-target {
    display: block;
  }
}
